<p>You have an account registered with this email.</p>
<p>Kindly verify your email by pressing the button below. After your email have
	been verified, you may proceed to login to your account and complete your
	profile.</p>
<table
	role='presentation'
	border='0'
	cellpadding='0'
	cellspacing='0'
	class='btn btn-primary'
>
	<tbody>
		<tr>
			<td align='left'>
				<table role='presentation' border='0' cellpadding='0' cellspacing='0'>
					<tbody>
						<tr>
							<td>
								<a clicktracking='off' href={{url}} target='_blank'>Verify My
									Email</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p class='last'>Click the link below if the button not working:</p>
<p><a clicktracking='off' href={{url}} target='_blank'>{{url}}</a></p>