<p>The following user requested access to your lab.</p>
<p class='last'>Lab Name</p>
<p><strong>Lab {{lab}}</strong></p>
<p class='last'>Matric/Staff Number</p>
<p><strong>{{matricNo}}</strong></p>
<p class='last'>Name</p>
<p><strong>{{name}}</strong></p>
<p class='last'>Email</p>
<p><strong>{{email}}</strong></p>
<p>You may approve or decline the request from Users in the system.</p>