<p>You have requested a password reset.</p>
<p>Kindly press the button below to reset your password. You will be able to set
  a new password for your account.</p>
<table
  role='presentation'
  border='0'
  cellpadding='0'
  cellspacing='0'
  class='btn btn-primary'
>
  <tbody>
    <tr>
      <td align='left'>
        <table role='presentation' border='0' cellpadding='0' cellspacing='0'>
          <tbody>
            <tr>
              <td>
                <a clicktracking='off' href={{url}} target='_blank'>Reset My
                  Password</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p class='last' style='font-size: 12px;'>Click the link below if the button not
  working:</p>
<p style='font-size: 12px;'><a
    clicktracking='off'
    href={{url}}
    target='_blank'
  >{{url}}</a></p>
<p>The link will be valid for 30 minutes only.</p>