<p>This email is sent to test the email configuration with SMTP.</p>
<p>If you received this email, it means that all email configuration settings
	are correct.</p>
<p>You may proceed to save your email configuration settings.</p>